@use "../../scss/abstracts/" as *;
.priceTable {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 0 8rem 0;
  .headWrapper {
    align-self: flex-start;
  }
  .priceChoice {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
  }
  .plans {
    margin-top: 5rem;
    display: flex;
    & > :nth-child(2) {
    transform: scale(1.2);
    margin: 0 5rem;
      color: $color-brand-3;
      background-color: $color-brand-1;
    }
  }
}
