
$color-brand-1: #D91966;
$color-brand-2: #E875A3;
$color-brand-3: #FEF3F3;
$color-white: #FFFFFF;
$color-blue: #241348;
$color-black: #060000;
$color-grey-1: #1d1d1d;
$color-grey-2: #2d2d2d;
$color-grey-3: #3f3f3f;
$color-grey-4: #cacccf;
$color-grey-5: #F8F9FA;
$color-grey-6: #52575C;
$color-grey-7: #1a1a1a;
