@use "../scss/abstracts/" as *;
.container {
  display: flex;
  padding: 0.5rem 0;
  justify-content: space-around;
  align-items: center;
  .companyName {
    font-size: 2.8rem;
    color: $color-brand-1;
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      margin-left: 2.5rem;
      transition: 0.5s;
      color: $color-grey-3;
      font-size: 1.6rem;
      font-weight: 500;
      &:hover {
        color: $color-brand-1;
      }
    }
    .current {
      color: $color-brand-1;
    }
  }
  button {
    width: 15.4rem;
    height: 5.4rem;
    color: $color-white;
    background-color: $color-brand-1;
    border-radius: 0.6rem;
    transition: 0.5s;
    &:hover {
      background-color: $color-brand-2;
    }
  }
  .navigation {
    display: flex;
    gap: 1rem;
    nav {
      display: flex;
      gap: 0.5rem;
    }
  }
}
